<% dependencies = object.children_by_type(:dependency) %>
<% if dependencies.size > 0 %>
  <h2>Dependencies</h2>
  <ul class="summary">
    <% dependencies.each do |dependency| %>
      <li>
        <span class="summary_signature">
          <strong><a href="<%= dependency.name %>.html"><%= dependency.name %></a></strong>
        </span>
        <span class="summary_desc"><%= htmlify(dependency.docstring) %></span>
      </li>
    <% end %>
  </ul>
<% end %>
