<% libraries = object.libraries %>
<% if libraries.size > 0 %>
  <h2>Libraries</h2>
  <ul class="summary compact">
    <% libraries.each do |lib| %>
      <li>
        <span class="summary_signature">
          <a href="<%= url_for(lib, nil) %>"><%= lib %></a>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
